<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"backgroundColor":"secondary","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group has-secondary-background-color has-background"><!-- wp:image {"lightbox":{"enabled":false},"id":229,"width":"668px","height":"auto","sizeSlug":"large","linkDestination":"none","align":"center","style":{"border":{"width":"8px"},"layout":{"selfStretch":"fit","flexSize":null}},"className":"is-style-default"} -->
<figure class="wp-block-image aligncenter size-large is-resized has-custom-border is-style-default"><img src="https://mesvoyagesetmoicom.files.wordpress.com/2024/01/julien-et-anais-fjord-saguenay.png?w=1024" alt="Julien et Anaïs au Fjord du Saguenay" class="wp-image-229" style="border-width:8px;width:668px;height:auto" /></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"47px"} -->
<div style="height:47px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1100px"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"xxx-large"} -->
<h1 class="wp-block-heading has-text-align-center has-xxx-large-font-size">Á propos de nous</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">Nous sommes Anaïs et Julien, un jeune couple passionné par l'aventure, la découverte et les rencontres enrichissantes. Nous avons décidé de partager notre passion pour le voyage à travers ce blog. Laissez-nous vous raconter un peu plus sur nous.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">Notre histoire a débuté en mai 2019, lorsque nos chemins se sont croisés. Rapidement, nous avons découvert notre passion commune pour l'exploration du monde, scellant notre connexion et imaginant ensemble une myriade de projets. Pour chacun de nous, le désir de voyager et découvrir le monde était un rêve. Depuis que nous sommes ensemble, ce rêve prend doucement vie.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">Un beau jour, nous avons pris la décision audacieuse de partir vivre au Canada. Trois mois plus tard, nous étions à bord d'un avion en direction de Montréal. Nous avons laissé derrière nous tout ce que nous connaissions pour plonger dans l'inconnu. Cette expérience a été un catalyseur, nourrissant notre soif de découverte et inspirant nos aventures futures.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">Amoureux de la randonnée, de la faune et de la beauté naturelle, nous avons rapidement adopté le rythme des découvertes incessantes à travers les paysages magnifiques de ce pays. Même les hivers canadiens n'ont pas ralenti notre enthousiasme, car nous participons activement aux activités hivernales et explorons le Québec sous un manteau de neige.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"var:preset|spacing|70","left":"var:preset|spacing|70"}}}} -->
<p class="has-text-align-center" style="padding-right:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--70)">Pour l'instant, nous avons les yeux rivés sur le continent américain, mais l'Asie occupe une place spéciale dans nos cœurs, et nous la visiterons assurément dans les années à venir. Rejoignez-nous dans notre périple et laissez-vous inspirer par les merveilles que la planète a à offrir !</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":"12px"} -->
<div style="height:12px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity" />
<!-- /wp:separator --></div>
<!-- /wp:group -->

<!-- wp:media-text {"mediaId":148,"mediaLink":"https://mesvoyagesetmoicom.wordpress.com/anais-rondou-grece-2/","mediaType":"image","mediaWidth":38,"imageFill":false,"style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-media-text is-stacked-on-mobile" style="padding-right:0;padding-left:0;grid-template-columns:38% auto"><figure class="wp-block-media-text__media"><img src="https://mesvoyagesetmoicom.files.wordpress.com/2024/01/anais-rondou-grece-1.png" alt="" class="wp-image-148 size-full" /></figure><div class="wp-block-media-text__content"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Anaïs, amoureuse de la nature</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Salut, moi c’est Anaïs, j’ai 24 ans. Sur ce blog de voyage, je m'occupe de l'aspect créatif et pratique. Je suis la personne derrière les designs du site et la plupart des contenus que vous découvrirez ici.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Avant de rencontrer Julien, mes aventures étaient plutôt locales. J'ai principalement exploré les pays voisins de la Belgique. Cependant, la passion de découvrir le monde était déjà en moi, prête à exploser.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Mes compétences principales tournent autour de la recherche de lieux à visiter, la planification d'itinéraires, et bien sûr, la photographie. Mes intérêts sont ancrés dans la nature, les animaux, et la capture de ces moments uniques à travers mon objectif.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Les Rocheuses Canadiennes furent jusqu’à présent ma destination préférée. En tant que fervente amoureuse de la nature et des animaux, j'y ai réalisé un rêve en observant plusieurs ours dans leur habitat naturel. Ce voyage a été une expérience fabuleuse, avec d'autres rencontres animales inoubliables et des paysages magnifiques.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Un conseil que je partage selon mon expérience : ne surchargez jamais votre planning de voyage et laissez de la place aux imprévus. </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Vous voulez une anecdote sur moi ? En voyage, Julien m'appelle le ouistiti ou la pile électrique car je "cours toujours partout" comme il dit. En effet, même pendant les moments libres, au lieu de me reposer, je préfère explorer de nouvelles choses, même si elles ne figuraient pas au programme initial.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Actuellement, je travaille en marketing digital, mais l'un de mes rêves serait de faire de ma passion un métier! </p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Et pour finir, voici une citation qui résume ma philosophie de vie, empruntée à Gustave Nadaud : "<em>Rester, c’est exister. Mais voyager, c’est vivre.</em>"</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">PS: Si vous voulez suivre mes aventures personnelles au jour le jour, rendez-vous sur mon profil Instagram <a href="https://www.instagram.com/anaisrondou?igsh=eHRucmNqM3hranM0&amp;utm_source=qr">@anaisrondou</a>.</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:media-text -->

<!-- wp:media-text {"mediaPosition":"right","mediaId":149,"mediaLink":"https://mesvoyagesetmoicom.wordpress.com/julien-deblander-grece-2/","mediaType":"image","mediaWidth":38,"style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile" style="padding-right:0;padding-left:0;grid-template-columns:auto 38%"><div class="wp-block-media-text__content"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Julien, passionné de cultures</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Hello, moi c'est Julien, j’ai 27 ans et je travaille dans le domaine de l'informatique et de l'intelligence artificielle.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Sur le blog, je suis un peu le bras droit d'Anaïs, et je l’aide à donner vie à ses idées. Mes modestes connaissances en développement me permettent d'aider à la réalisation des designs du site. Je suis également le relecteur attentif des contenus d'Anaïs, j'y ajoute des éléments que nous pourrions avoir négligés et je participe activement aux brainstormings pour générer de nouvelles idées.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Mon histoire de voyage commence avec des escapades en Espagne aux côtés de mes parents, mais c'est mon premier grand voyage à travers l'Ouest des États-Unis avec mon père qui a allumé la flamme. Plus tard, lors de ma dernière année d'études universitaires, un échange en Chine a profondément marqué ma passion pour les voyages, en particulier pour la découverte de cultures différentes, principalement celles d'Asie.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Mon rôle dans la préparation de voyages s'étend à la recherche assidue de bons plans pour les logements et les voitures, car économiser ici signifie avoir plus de budget pour des expériences mémorables. En tant que conducteur attitré, je prends le volant pendant qu'Anaïs préfère être co-pilote. Mes bonnes compétences linguistiques en anglais nous permettent de nous débrouiller un peu partout, que ferait Anaïs sans moi&nbsp;!</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Ma destination préférée reste la Chine, non seulement pour sa richesse culturelle, mais aussi pour les quatre mois d'échange qui m'ont enseigné énormément sur moi-même et sur ce pays souvent méconnu.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Mon conseil de voyage est de ne jamais négliger les documents nécessaires pour un voyage. Un simple oubli peut mettre en péril l'ensemble de l'expérience, comme je l'ai découvert lors d'un voyage à Lanzarote, où j'ai réalisé à la location de voiture que je n'avais pas mon permis de conduire sur moi&nbsp;!</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Voici une citation qui résume ma conviction profonde : "Un voyage est la seule chose qui s'achète et vous rend plus riche."</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Et pour une anecdote amusante, quand nous partons au soleil, soit je reste blanc, soit je deviens rouge, mais jamais bronzé ! Ce qui fait bien rire Anaïs&nbsp;!</p>
<!-- /wp:paragraph --></div><figure class="wp-block-media-text__media"><img src="https://mesvoyagesetmoicom.files.wordpress.com/2024/01/julien-deblander-grece-1.png" alt="" class="wp-image-149 size-full" /></figure></div>
<!-- /wp:media-text -->

<!-- wp:group {"layout":{"type":"constrained","contentSize":"1100px"}} -->
<div class="wp-block-group"><!-- wp:separator {"className":"is-style-default"} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-default" />
<!-- /wp:separator -->

<!-- wp:spacer {"height":"31px"} -->
<div style="height:31px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|60","left":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-right:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--60)"><!-- wp:heading {"textAlign":"center","align":"wide","style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} -->
<h2 class="wp-block-heading alignwide has-text-align-center" style="margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px">Nos derniers articles</h2>
<!-- /wp:heading -->

<!-- wp:query {"queryId":16,"query":{"perPage":"3","pages":0,"offset":"0","postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"blockGap":"1.5rem","padding":{"bottom":"1.5rem"}}}} -->
<div class="wp-block-group" style="padding-bottom:1.5rem"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9"} /-->

<!-- wp:post-title {"level":3,"isLink":true,"style":{"typography":{"lineHeight":"1.3"}},"fontSize":"medium"} /-->

<!-- wp:post-excerpt {"moreText":"Read more","showMoreOnNewLine":false,"excerptLength":35,"fontSize":"small"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"56px"} -->
<div style="height:56px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":"top","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}},"backgroundColor":"secondary","textColor":"primary"} -->
<div class="wp-block-columns are-vertically-aligned-top has-primary-color has-secondary-background-color has-text-color has-background has-link-color" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)"><!-- wp:column {"verticalAlignment":"top"} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"0","left":"0"},"margin":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}}} -->
<p class="has-text-align-center" style="margin-right:var(--wp--preset--spacing--50);margin-left:var(--wp--preset--spacing--50);padding-right:0;padding-left:0">Rejoignez-nous dans cette aventure en scrutant notre blog pour ne rien manquer de nos récits et découvertes. </p>
<!-- /wp:paragraph -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"primary","textColor":"secondary","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"className":"is-style-outline"} -->
<div class="wp-block-button is-style-outline"><a class="wp-block-button__link has-secondary-color has-primary-background-color has-text-color has-background has-link-color wp-element-button">Consulter le blog</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top"} -->
<div class="wp-block-column is-vertically-aligned-top"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Connectons-nous également sur les réseaux sociaux pour partager notre passion du voyage en temps réel !</p>
<!-- /wp:paragraph -->

<!-- wp:template-part {"slug":"ic-nes-r-seaux-sociaux"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"48px"} -->
<div style="height:48px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","right":"var:preset|spacing|50","bottom":"var:preset|spacing|40","left":"var:preset|spacing|50"},"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--50)"><!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center"} -->
<h2 class="wp-block-heading has-text-align-center">Contactez-nous</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Si vous avez des questions, des suggestions ou simplement envie de partager vos propres expériences, n'hésitez pas à nous contacter. Notre boîte de réception est toujours ouverte pour vous !</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Contactez nous via mesvoyagesetmoi@gmail.com ou via le formulaire de contact ci-dessous.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:jetpack/contact-form {"subject":"Contact form submission","to":"","className":"is-style-outlined"} -->
<div class="wp-block-jetpack-contact-form is-style-outlined"><!-- wp:jetpack/field-name {"label":"First name","required":true,"requiredText":"(required)","width":50,"borderRadius":5,"labelFontSize":"15px","fieldFontSize":"13px","lineHeight":1,"labelLineHeight":1} /-->

<!-- wp:jetpack/field-name {"label":"Last name","required":true,"requiredText":"(required)","width":50,"borderRadius":5,"labelFontSize":"15px","fieldFontSize":"13px","lineHeight":1,"labelLineHeight":1} /-->

<!-- wp:jetpack/field-email {"required":true,"requiredText":"(required)","borderRadius":5,"labelFontSize":"15px","fieldFontSize":"13px","lineHeight":1,"labelLineHeight":1} /-->

<!-- wp:jetpack/field-textarea {"label":"Message","requiredText":"(required)","borderRadius":5,"labelFontSize":"15px","fieldFontSize":"13px","lineHeight":1,"labelLineHeight":1} /-->

<!-- wp:jetpack/button {"element":"button","text":"Envoyer","width":"100%","align":"center","lock":{"remove":true}} /--></div>
<!-- /wp:jetpack/contact-form --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->